<!DOCTYPE html>
<html lang="en">
<head>

    <meta name="description" content="The bandit rides again.">
    <title>{% block title %}the bandit, from parts unknown{% endblock %}</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <meta name="keywords" content="" />
    <!--[if lte IE 8]><script src="js/html5shiv.js"></script><![endif]-->
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/skel-layers.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/init.js') }}"></script>

    <noscript>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/skel.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style-xlarge.css') }}">
    </noscript>
</head>

<body class="landing">
    
{% block content %}


      
   c
    </div>
{% endblock %}
</body>
</html>