{% extends "base.html" %}

{% block content %}
    <!-- Header -->
    <header id="header">
        <h1><a href="index.html">by chris mfing wood</a></h1>
        <nav id="nav">
            <ul>
                <li><a href="{{ url_for('login', app='pp') }}"> login pp</a></li>
                <li><a href="{{ url_for('login', app='cmm') }}"> login cmm</a></li>

              
            </ul>
        </nav>
    </header>
	<!-- Banner -->
    <section id="banner">
        <h2>Welcome to handy things collection</h2>
        <p>this should look pretentious</p>
        <ul class="actions">
            {% for i in biglist %}
            <li><a href="#" class="button big"> {{ i.title }}</a></li>
        {% endfor %}
        </ul>
    </section>

<!-- One -->
    

<!-- Footer -->
    <footer id="footer">
        <div class="container">
            <section class="links">
                <div class="row">
                    <section class="3u 6u(medium) 12u$(small)">
                        <h3>some stuff</h3>
                        <ul class="unstyled">
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Nesciunt itaque, alias possimus</a></li>
                                </ul>
                    </section>
                    <section class="3u 6u$(medium) 12u$(small)">
                        <h3>some stuff</h3>
                        <ul class="unstyled">
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Reiciendis dicta laboriosam enim</a></li>
                             </ul>
                    </section>
                    <section class="3u 6u(medium) 12u$(small)">
                        <h3>some crap</h3>
                        <ul class="unstyled">
                            <li><a href="#">Lorem ipsum dolor sit</a></li>
                            <li><a href="#">Distinctio, inventore quidem nesciunt</a></li>
</ul>
                    </section>
                
                </div>
            </section>

{% endblock %}
